body {
    margin: 0;
    font-family: "Poppins";
}

nav, footer {
    text-align: center;
    background-color: rgb(20, 24, 19);
    color: white;
    width: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: absolute; 
    bottom: 0;
    left: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    text-transform: uppercase;
    display: flex;
    align-content: center;
    justify-content: center;  
}